Overtime-databasetbldef/tblFiltrationEmployeeQualifications.xml

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:od="urn:schemas-microsoft-com:officedata">
<xsd:element name="dataroot">
<xsd:complexType>
<xsd:sequence>
<xsd:element ref="tblFiltrationEmployeeQualifications" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
<xsd:attribute name="generated" type="xsd:dateTime"/>
</xsd:complexType>
</xsd:element>
<xsd:element name="tblFiltrationEmployeeQualifications">
<xsd:annotation>
<xsd:appinfo>
<od:index index-name="ID_Training" index-key="ID_Training " primary="no" unique="no" clustered="no" order="asc"/>
<od:index index-name="PrimaryKey" index-key="ID_Filt_Employee ID_Filt_Qual " primary="yes" unique="yes" clustered="no" order="asc asc"/>
<od:index index-name="tblEmployeesOTtblFiltrationEmployeeQualifications" index-key="ID_Filt_Employee " primary="no" unique="no" clustered="no" order="asc"/>
<od:index index-name="tblEmployeestblFiltrationEmployeeQualifications" index-key="ID_Training " primary="no" unique="no" clustered="no" order="asc"/>
<od:index index-name="tblFiltrationQualificationstblFiltrationEmployeeQualification" index-key="ID_Filt_Qual " primary="no" unique="no" clustered="no" order="asc"/>
</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ID_Filt_Employee" minOccurs="1" od:jetType="longinteger" od:sqlSType="int" od:nonNullable="yes" type="xsd:int"/>
<xsd:element name="ID_Filt_Qual" minOccurs="1" od:jetType="longinteger" od:sqlSType="int" od:nonNullable="yes" type="xsd:int"/>
<xsd:element name="Qualification_x0020_Level" minOccurs="0" od:jetType="longinteger" od:sqlSType="int" type="xsd:int"/>
<xsd:element name="Date_x0020_trained" minOccurs="0" od:jetType="datetime" od:sqlSType="datetime" type="xsd:dateTime"/>
<xsd:element name="ID_Training" minOccurs="0" od:jetType="longinteger" od:sqlSType="int" type="xsd:int"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:schema>
