Overtime-databasetbldef/tblManifoldEmployeeQualifications.xml

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:od="urn:schemas-microsoft-com:officedata">
<xsd:element name="dataroot">
<xsd:complexType>
<xsd:sequence>
<xsd:element ref="tblManifoldEmployeeQualifications" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
<xsd:attribute name="generated" type="xsd:dateTime"/>
</xsd:complexType>
</xsd:element>
<xsd:element name="tblManifoldEmployeeQualifications">
<xsd:annotation>
<xsd:appinfo>
<od:index index-name="ID_Training" index-key="ID_Training " primary="no" unique="no" clustered="no" order="asc"/>
<od:index index-name="tblEmployeesOTtblManifoldEmployeeQualifications" index-key="ID_Man_Employee " primary="no" unique="no" clustered="no" order="asc"/>
<od:index index-name="tblEmployeestblManifoldEmployeeQualifications" index-key="ID_Training " primary="no" unique="no" clustered="no" order="asc"/>
<od:index index-name="tblManifoldQualificationstblManifoldEmployeeQualifications" index-key="ID_Man_Qual " primary="no" unique="no" clustered="no" order="asc"/>
</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ID_Man_Employee" minOccurs="1" od:jetType="longinteger" od:sqlSType="int" od:nonNullable="yes" type="xsd:int"/>
<xsd:element name="ID_Man_Qual" minOccurs="1" od:jetType="longinteger" od:sqlSType="int" od:nonNullable="yes" type="xsd:int"/>
<xsd:element name="Qualification_Lvl" minOccurs="0" od:jetType="longinteger" od:sqlSType="int" type="xsd:int"/>
<xsd:element name="Date_x0020_Trained" minOccurs="0" od:jetType="datetime" od:sqlSType="datetime" type="xsd:dateTime"/>
<xsd:element name="ID_Training" minOccurs="0" od:jetType="longinteger" od:sqlSType="int" type="xsd:int"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:schema>
